<% @cities.each do |city| %>
  <%= link_to city.name, city_path(city) %>
<% end %>
<div class="container">
  <div class="card">
    <div class="card__image"></div>
    <div class="card__city">tlv</div>
    <div class="card__weather">24c</div>
    <div class="card__internet">22mb</div>
  </div>
  <div class="card">
    <div class="card__image"></div>
    <div class="card__city">bansko</div>
    <div class="card__weather">24c</div>
    <div class="card__internet">22mb</div>
  </div>
  <div class="card">
    <div class="card__image"></div>
    <div class="card__city">berlin</div>
    <div class="card__weather">24c</div>
    <div class="card__internet">22mb</div>
  </div>
  <div class="card">
    <div class="card__image"></div>
    <div class="card__city">paris</div>
    <div class="card__weather">24c</div>
    <div class="card__internet">22mb</div>
  </div>
  <div class="card">
    <div class="card__image"></div>
    <div class="card__city">city</div>
    <div class="card__weather">24c</div>
    <div class="card__internet">22mb</div>
  </div>
  <div class="card">
    <div class="card__image"></div>
    <div class="card__city">city</div>
    <div class="card__weather">22c</div>
    <div class="card__internet">24mb</div>
  </div>
  <div class="card">
    <div class="card__image"></div>
    <div class="card__city">city</div>
    <div class="card__weather">22c</div>
    <div class="card__internet">24mb</div>
  </div>
  <div class="card">
    <div class="card__image"></div>
    <div class="card__city">city</div>
    <div class="card__weather">22c</div>
    <div class="card__internet">24mb</div>
  </div>
  <div class="card">
    <div class="card__image"></div>
    <div class="card__city">city</div>
    <div class="card__weather">22c</div>
    <div class="card__internet">24mb</div>
  </div>
  <div class="card">
    <div class="card__image"></div>
    <div class="card__city">city</div>
    <div class="card__weather">22c</div>
    <div class="card__internet">24mb</div>
  </div>
  <div class="card">
    <div class="card__image"></div>
    <div class="card__city">city</div>
    <div class="card__weather">22c</div>
    <div class="card__internet">24mb</div>
  </div>
  <div class="card">
    <div class="card__image"></div>
    <div class="card__city">city</div>
    <div class="card__weather">22c</div>
    <div class="card__internet">24mb</div>
  </div>
</div>
