<div class="citylove">
  <div class="citylove__text">
    <h2 class="citylove__text__sectiontitle">Why You'll Love <%= @city.name %></h2>
    <p class="citylove__text__sectionparagraph">Berlin is a sprawling, diverse metropolis, home to people from around the world. Although it is roughly nine times the size of Paris, Berlin's key districts are well-connected by public transport or cycling roads, and many even close enough for walking. The flexible work environment combined with easy access to venture capital attracts young people and entrepreneurs, making Berlin one of the most vibrant startup scenes in Europe.</p>
  </div>
  <%= image_tag("https://dal3fatminugb.cloudfront.net/url-https%3A%2F%2Fd13k13wj6adfdf.cloudfront.net%2Fdots%2Frdot.png(13.5,52.4)/11,45,1/510x340.png?access_token=pk.eyJ1IjoidGVsZXBvcnQiLCJhIjoiY2lnM3VqNXVqMDJsaHYza2gwN2wzdXhidCJ9.PuTxgLkbswKZzPhzlKgv4A", class: "citylove__img") %>
</div>
