<% @cities.each do |city| %>
  <%= link_to city.name, city_path(city) %>
<% end %>
<div class="container">
  <div class="item item">City</div>
  <div class="item item">City</div>
  <div class="item item">City</div>
  <div class="item item">City</div>
  <div class="item item">City</div>
  <div class="item item">City</div>
  <div class="item item">City</div>
  <div class="item item">City</div>
  <div class="item item">City</div>
  <div class="item item">City</div>
  <div class="item item">City</div>
  <div class="item item">City</div>
</div>
