<h2 class="sectiontitle">Daily Living Prices</h2>
<div class="cost-of-living--daily">
  <div class="column">
    <table class="table">
      <div class="table--header">
        <h3>Food</h3>
        <i class="fas fa-utensils table--icon"></i></th>
          </div>
      <tr>
        <td id="table-label">Cheap Meal</td>
        <td>$1.85</td>
      </tr>
      <tr>
        <td id="table-label">Mid Range Meal</td>
        <td>$5</td>
      </tr>
      <tr>
        <td id="table-label">A Loaf Of Bread</td>
        <td>$1.85</td>
      </tr>
      <tr>
        <td id="table-label">Kilo Of Rice</td>
        <td>$1.85</td>
      </tr>
      <tr>
        <td id="table-label">Kilo Of Bananas</td>
        <td>$1.85</td>
      </tr>
      <tr>
        <td id="table-label">Kilo Of Chicken Breast</td>
        <td>$1.85</td>
      </tr>
      <tr>
        <td id="table-label">12 Eggs</td>
        <td>$1.85</td>
      </tr>
      <tr>
        <td id="table-label">Beer</td>
        <td>$1.85</td>
      </tr>
      <tr>
        <td id="table-label">Mid Range Wine</td>
        <td>$20</td>
      </tr>
      <tr>
        <td id="table-label">Coffee</td>
        <td>$1.85</td>
      </tr>
      <tr>
        <td id="table-label">1.5 Litre Water</td>
        <td>$1.85</td>
      </tr>
    </table>
      </div>
      <div class="column">
        <div class="transportation">
          <table class="table">
      <div class="table--header">
        <h3>Transportation</h3>
        <i class="fas fa-shuttle-van table--icon"></i></th>
          </div>
      <tr>
        <td id="table-label">5KM Taxi Ride</td>
        <td>$3</td>
      </tr>
      <tr>
        <td id="table-label">One-way Ticket (Local Transport)</td>
        <td>$0.95</td>
      </tr>
      </table>
        </div>
        <div class="other">
          <table class="table">
      <div class="table--header">
        <h3>Other</h3>
        <i class="fas fa-shapes table--icon"></i></th>
          </div>
      <tr>
        <td id="table-label">Monthly Fitness Club</td>
        <td>$35.26</td>
      </tr>
      <tr>
        <td id="table-label">Movie Ticket</td>
        <td>$6.35</td>
      </tr>
       <tr>
        <td id="table-label">3 Kilos Laundry</td>
        <td>$6.35</td>
      </tr>
      </table>
        </div>
      </div>
</div>
