<div class="rings-container">
<div class="rings-wrap">
<div class="data-ring">
<div class="filling">
<svg>
<circle cx="70" cy="70" r="70"></circle>
<circle class="fill" cx="70" cy="70" r="70"></circle>
</svg>
<div class="ring-title">
  <h2>Housing</h2>
</div>
</div>
<h2 class="ring-subtitle">cheapest</h2>
</div>
</div>
<div class="rings-wrap">
<div class="data-ring">
<div class="filling">
<svg>
<circle cx="70" cy="70" r="70"></circle>
<circle class="fill" cx="70" cy="70" r="70"></circle>
</svg>
<div class="ring-title">
  <h2>food</h2>
</div>
</div>
<h2 class="ring-subtitle">cheapest</h2>
</div>
</div>
<div class="rings-wrap">
<div class="data-ring">
<div class="filling">
<svg>
<circle cx="70" cy="70" r="70"></circle>
<circle class="fill" cx="70" cy="70" r="70"></circle>
</svg>
<div class="ring-title">
  <h2>transportation</h2>
</div>
</div>
<h2 class="ring-subtitle">cheapest</h2>
</div>
</div>
<div class="rings-wrap">
<div class="data-ring">
<div class="filling">
<svg>
<circle cx="70" cy="70" r="70"></circle>
<circle class="fill" cx="70" cy="70" r="70"></circle>
</svg>
<div class="ring-title">
  <h2>other</h2>
</div>
</div>
<h2 class="ring-subtitle">cheapest</h2>
</div>
</div>
</div>
