<div class="filterbar">
  <div class="filterbar__wrap">
    <div class="filterbar__wrap__filters">
    <a href="#" class="btn btn--filter">
      Budget Cities
   </a>
    <a href="" class="btn btn--filter">
      Good Weather
    </a>
    </div>
    <div class="dropdown">
      <ul class="dropdown--sortby">
        <li class="sortbyoptions">Top Rated</li>
        <li class="sortbyoptions">Top Rated</li>
        <li class="sortbyoptions">Top Rated</li>
      </ul>
    </div>
  </div>
</div>
