<div class="filterbar">
  <div class="filterbar__wrap">
  <div class="filterbar__filters">
  <button class="btn btn__filter">Budget Cities</button>
  <button class="btn btn__filter">Good Weather</button>
  </div>
  <div class="filterbar__sortby">
    <button class="btn btn__sortby">Top Rated</button>
      </div>
  </div>
</div>
