<div class="filterbar">
  <div class="filterbar__wrap">
  <div class="filterbar__filters">
  <a href="#" class="btn btn__filter">Budget Cities<span></a>
  <a href="#" class="btn btn__filter">Good Weather<span ></a>
  </div>
  <div class="filterbar__sortby">
    <button class="btn btn__sortby">Top Rated</button>
    <div class="dropdown">
  <button class="btn__sortby--dropdown">
    <i class="fas fa-arrow-circle-down"></i>
  </button>
  <div class="dropdown__content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div>

      </div>
  </div>
</div>
