<footer class="footer">
  <div class="footerwrap">
    <ul class="footerlinks">
    <ul class="list">Cities
    <li><a href="" class="footerlink">cities</a></li>
    <li><a href="" class="footerlink">blog</a></li>
    <li><a href="" class="footerlink">link3</a></li>
    </ul>
     <ul class="list">Cities
    <li><a href="" class="footerlink">cities</a></li>
    <li><a href="" class="footerlink">blog</a></li>
    <li><a href="" class="footerlink">link3</a></li>
    </ul>
     <ul class="list">Cities
    <li><a href="" class="footerlink">cities</a></li>
    <li><a href="" class="footerlink">blog</a></li>
    <li><a href="" class="footerlink">link3</a></li>
    </ul>
  </ul>
  </div>
    <div class="divider"></div>
    <ul class="footerlinks">
  <a href="" class="footerlink">Private Policy</a>
  <a href="" class="footerlink">Terms & Conditions</a>
  <a href="" class="footerlink">Copyright Notifications</a>
  <%= image_tag("logowhite.png", class: "footerlogo") %>
  </ul>
</footer>
