<footer class="footer">
  <div class="footer__wraptop">
    <ul class="footerlinks"> Title
    <li><a href="" class="footerlink">cities</a></li>
    <li><a href="" class="footerlink">blog</a></li>
    <li><a href="" class="footerlink">link3</a></li>
  </ul>
  <ul class="footerlinks"> title
    <li><a href="" class="footerlink">cities</a></li>
    <li><a href="" class="footerlink">blog</a></li>
    <li><a href="" class="footerlink">link3</a></li>
  </ul>
   <ul class="footerlinks"> follow us
    <li><a href="" class="footerlink">cities</a></li>
    <li><a href="" class="footerlink">blog</a></li>
    <li><a href="" class="footerlink">link3</a></li>
  </ul>
 </div>
 <div class="footer__wrapbottom">
 <%= image_tag("logowhite.png", class: "footerlogo") %>
 <ul class="footerlinks">
    <li><a href="" class="footerlink">private policy</a></li>
    <li><a href="" class="footerlink">terms & conditions</a></li>
    <li><a href="" class="footerlink">copyright notifications</a></li>
  </ul>
 </div>
</footer>
