<footer class="footer">
  <div class="footer__wraptop">
   <ul class="footer__links">
    <li><a href="" class="footer__links__link">cities</a></li>
    <li><a href="" class="footer__links__link">blog</a></li>
    <li><a href="" class="footer__links__link">faq</a></li>
  </ul>
    <ul class="footer__links">
    <li><a href="" class="footer__links__link">about</a></li>
    <li><a href="" class="footer__links__link">contact</a></li>
    <li><a href="" class="footer__links__link">bj</a></li>
  </ul>
    <ul class="footer__links--sm">
    <li><i class="fab fa-facebook-square footer__links--sm__link"></i></li>
    <li><i class="fab fa-youtube footer__links--sm__link"></i></li>
    <li><i class="fab fa-instagram footer__links--sm__link"></i></li>
   </ul>
    </div>
 <div class="footer__divider">
 <div class="footer__wrapbottom">
 <ul class="footer__links--bottom">
    <li><a href="" class="footer__links__link">private policy</a></li>
    <li><a href="" class="footer__links__link">terms & conditions</a></li>
    <li><a href="" class="footer__links__link">copyright notifications</a></li>
  </ul>
  </div>
  <p class="footer__copyright">© 2019 NomadGO. All rights reserved.</p>
 </div>
</footer>

