<footer class="footer">
  <div class="footer__wraptop">
    <ul class="footer__links">

    <li><a href="" class="footer__links__link">cities</a></li>
    <li><a href="" class="footer__links__link">blog</a></li>
    <li><a href="" class="footer__links__link">link3</a></li>
  </ul>
  <ul class="footer__links">

    <li><a href="" class="footer__links__link">cities</a></li>
    <li><a href="" class="footer__links__link">blog</a></li>
    <li><a href="" class="footer__links__link">link3</a></li>
  </ul>
   <ul class="footer__links">

    <li><a href="" class="footer__links__link">cities</a></li>
    <li><a href="" class="footer__links__link">blog</a></li>
    <li><a href="" class="footer__links__link">link3</a></li>
  </ul>
 </div>
 <div class="footer__divider">
 <div class="footer__wrapbottom">
 <ul class="footer__links--bottom">
    <li><a href="" class="footer__links--bottom__link">private policy</a></li>
    <li><a href="" class="footer__links--bottom__link">terms & conditions</a></li>
    <li><a href="" class="footer__links--bottom__link">copyright notifications</a></li>
  </ul>
  </div>
 </div>
</footer>
