<footer class="footer">
  <div class="footerwrap">
  <img src="https://hips.hearstapps.com/cosmouk.cdnds.net/15/21/1600x800/landscape_nrm_1432138418-o-poop-emoji-ice-cream-facebook.jpg?resize=480:*" class="navlogo">
  <ul class="footerlinks">
    <li><a href="" class="footerlink">cities</a></li>
    <li><a href="" class="footerlink">blog</a></li>
    <li><a href="" class="footerlink">link3</a></li>
  </ul>
  <button class="scrollup">icon</button>
  </div>
</footer>
