<header class="header">
  <div class="header__text-box">
    <h1 class="heading-primary">
      <span class="heading-primary--main">Explore</span>
      <span class="heading-primary--sub">The vast scooby doo</span>
    </h1>
    <a href="#section-tours" class="btn btn--white btn--animated">Discover Cities</a>
  </div>
</header>
