<div class="header--city">
  <%= image_tag("header.jpg", class: "header--city__img") %>
 <div class="header--city__name">
  <h2 class="header--city__name--title">Tel Aviv</h2>
  <h3 class="header--city__name--subtitle">Israel</h3>
</div>
    <h3 class="header--city__weather">24c
    <i class="fas fa-sun"></i>
  </h3>
    <h3 class="header--city__internet">22mb
    <i class="fas fa-wifi"></i>
    </h3>
     <h3 class="header--city__cost">$1500/mo
     <i class="far fa-money-bill-alt"></i>
   </h3>
 </div>
