<div class="container">
  <div class="progress">
    <div class="progress__bar">
    </div>
  </div>
  <div class="progress">
    <div class="progress__bar-2">
    </div>
  </div>
</div>
<div class="container">
  <div class="progress">
    <div class="progress__bar">
    </div>
  </div>
  <div class="progress">
    <div class="progress__bar-2">
    </div>
  </div>
</div>
