<nav class="navbar">
  <div class="navbarwrap">
   <%= image_tag("logowhite.png", class: "navlogo") %>
  <ul class="navlinkbox">
  <li><a href="" class="navlink">About</a></li>
  <li><a href="/blog" class="navlink">FAQ</a></li>
  <li><a href="" class="navlink">Contact Us</a></li>
  </ul>
  </div>
</nav>

