<div class="navbar">
  <img src="" class="navlogo"> <!-- logo img -->
  <div class="navlinkbox">
  <a href="" class="navlink">cities</a>
  <a href="" class="navlink">blog</a>
  <a href="" class="navlink">navlink3</a>
  </div>
</div>
