<nav class="navbar">
  <div class="navbar__wrap">
    <%= link_to root_path do %>
    <%= image_tag("logowhite.png", class: "navbar__logo")%>
    <% end %>
    <input type="checkbox" id="chk">                             <!--  mobile navbar -->
    <label for="chk" class="navbar__menu--show">
      <i class="fas fa-bars navbar__menu"></i>
    </label>
    <ul class="navbar__linksbox">
      <li><a href="" class="navbar__linksbox__link">About</a></li>
      <li><a href="/blog" class="navbar__linksbox__link">FAQ</a></li>
      <li><a href="" class="navbar__linksbox__link">Contact Us</a></li>
      <label for="chk" class="navbar__menu--hide">
        <i class="fas fa-bars navbar__menu"></i>
      </label>
    </ul>
  </div>
</nav>
