<nav class="navbar">
  <div class="navbarwrap">
  <img src="https://hips.hearstapps.com/cosmouk.cdnds.net/15/21/1600x800/landscape_nrm_1432138418-o-poop-emoji-ice-cream-facebook.jpg?resize=480:*" class="navlogo"> <!-- logo img -->
  <ul class="navlinkbox">
  <li><a href="" class="navlink">cities</a></li>
  <li><a href="" class="navlink">blog</a></li>
  <li><a href="" class="navlink">navlink3</a></li>
  </ul>
  </div>
</nav>
