<div class="proscons">
  <div class="proscons__pros">
    <h2 class="sectiontitle">Pros</h2>
  <ul class="proslist">
    <li class="prositem">Amazing Nature Nearby</li>
    <li class="prositem">Amazing Nature Nearby</li>
    <li class="prositem">Amazing Nature Nearby</li>
    <li class="prositem">Amazing Nature Nearby</li>
  </ul>
  </div>
  <div class="proscons__cons">
    <h2 class="sectiontitle">Cons</h2>
    <ul class="conslist">
    <li class="consitem">Gets Very Hot</li>
    <li class="consitem">Gets Very Hot</li>
    <li class="consitem">Gets Very Hot</li>
    <li class="consitem">Gets Very Hot</li>
  </div>
</div>
