<div class="proscons__pros">                    <!-- pros section -->
  <h2 class="sectiontitle">Pros</h2>
  <div class="proslists">
    <ul class="proslist">
      <%# add if p_c.pro_or_con == "p" color green else color red %>
      <% @city.pros_cons.each do |p_c|%>
        <li class="prositem"><%= p_c.name %></li>
      <% end %>                             <!-- pros section lists-->
      <li class="prositem">Very Cheap</li>
      <li class="prositem">Many Nomads</li>
      <li class="prositem">Safe</li>
      <li class="prositem">Fast Internet</li>
    </ul>
    <ul class="proslist">
      <li class="prositem">Warm All Year Round</li>
      <li class="prositem">Easy To Get Around</li>
      <li class="prositem">Great Food</li>
      <li class="prositem">Amazing Nature Nearby</li>
    </ul>
  </div>
</div>
<div class="proscons__cons">                                <!-- cons section -->
  <h2 class="sectiontitle">Cons</h2>
  <div class="conslists">
    <ul class="conslist">                                          <!-- cons section lists-->
      <li class="consitem">Awful Air Quality Feb-Apr</li>
      <li class="consitem">Very Humid</li>
      <li class="consitem">Gets Very Hot</li>
    </ul>
    <ul class="conslist">
      <li class="consitem">Locals Don't Speak English Well</li>
      <li class="consitem">Dangerous Roads</li>
    </ul>
  </div>
</div>
