<div class="quality_life">
  <h2 class="sectiontitle">Life Quality</h2>
  <div class="scores-list">
    <div class="scores--cost-of-living">
      <%= render "partials/data_ring"%>
    </div>
    <div class="scores--community"></div>
    <div class="scores--internet-speed"></div>
    <div class="scores--enviromental"></div>
    <div class="scores--work-from"></div>
    <div class="scores--activities"></div>
    <div class="scores--safety"></div>
    <div class="scores--tolarence"></div>
    <div class="scores--walkability"></div>
    <div class="scores--healthcare"></div>
    <div class="scores--engish"></div>
  </div>
</div>
