<div class="sidebar">
  <div class="sidebar__wrap">

  <div class="sidebar__category">
  <i class="fas fa-globe-americas"></i>
    Overview
  </div>

  <div class="sidebar__category">
    <i class="fas fa-globe-americas"></i>
  Life Quality
</div>

  <div class="sidebar__category">
  <i class="fas fa-globe-americas"></i>
Cost of Living
</div>

  <div class="sidebar__category">
  <i class="fas fa-globe-americas"></i>
Moving Guide
</div>
  </div>
</div>
