<div class="sidebar">
  <div class="sidebar__wrap">

  <a href="#overview" class="sidebar__category">
  <i class="fas fa-globe-americas"></i>
    Overview
  </a>

  <a href="#quality" class="sidebar__category">
    <i class="fas fa-globe-americas"></i>
  Life Quality
</a>

  <a href="#cost" class="sidebar__category">
  <i class="fas fa-globe-americas"></i>
Cost of Living
</a>

  <a href="#guide" class="sidebar__category">
  <i class="fas fa-globe-americas"></i>
Moving Guide
</a>
  </div>
</div>
