<div class="sidebar">
  <div class="sidebar__wrap">

  <a href="#overview" class="sidebar__category">
  <i class="fas fa-globe-americas sidebar__category--icon"></i>
    Overview
  </a>

  <a href="#quality" class="sidebar__category">
    <i class="fas fa-balance-scale sidebar__category--icon"></i>
  Life Quality
</a>

  <a href="#cost" class="sidebar__category">
  <i class="fas fa-dollar-sign sidebar__category--icon"></i>
Cost of Living
</a>

 <a href="#weather" class="sidebar__category">
  <i class="fas fa-cloud-sun sidebar__category--icon"></i>
Weather
</a>

  <a href="#guide" class="sidebar__category">
  <i class="fas fa-plane-arrival sidebar__category--icon"></i>
Moving Guide
</a>
  </div>
</div>
