<h2 class="sectiontitle">Weather</h2>
<div class="weather--images">
  <%= image_tag("weather_images/chiang-mai-temp.gif", class: "weather-image") %>
  <%= image_tag("weather_images/chiang-mai-rain.gif", class: "weather-image") %>
  <%= image_tag("weather_images/chiang-mai-light.gif", class: "weather-image") %>
</div>
