.grid {
  display: grid;
  width: 1000px;
  margin: 50px auto;
  grid-template-columns: 25% 37.5% 37.5%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  grid-gap: 2rem;
  grid-template-areas: "sidebar head head"
                       "sidebar proscons proscons"
                       "sidebar visa visa"
                       "sidebar gettingto gettingto"
                       "sidebar proscons proscons";

& > * {
  background-color:$color-red;
  padding: 1rem 2rem;
}


}

.sidebar {
  grid-area: sidebar;

}

.head{
  grid-area: head;
}

.visa {
  grid-area: visa;
}

.gettingto {
  grid-area: gettingto;
}

.proscons {
  grid-area: proscons;
}
