.grid {
    display: grid;
    max-width: 1440px;
    margin: 50px auto;
    grid-template-columns: 10% 1fr 10%;
    grid-gap: 2rem;
    grid-template-areas: "side head ." "side why ." "side quality ." "side pros ." "side cost ." "side move .";

    // & > * {
    //     border: $color-red 2px solid;
    //     color: $color-black;
    // }
}

.header--city {
    grid-area: head;
}

.sidebar {
    grid-area: side;
}

.life--quality {
    grid-area: quality;
}

.proscons {
    grid-area: pros;
}

.why--city {
    grid-area: why;
}

.cost-of-living {
    grid-area: cost;
}

.moving-guide-link {
    grid-area: move;
}
