.grid {
    display: grid;                                                //overview grid
    max-width: 1440px;
    margin: 5rem auto;
    grid-template-columns: 10% 1fr 10%;
    grid-gap: 2rem;
    grid-template-areas: "side head ." "side why ." "side quality ." "side pros ." "side cost ." "side move .";

    & > * {
        background-color: $color-white;
        border: 1px solid lighten($color-black, 70%);
        padding: 3rem;
        border-radius: 4px;
    }
}

.header--city {
    grid-area: head;
}

.sidebar {
    grid-area: side;
}

.life--quality {
    grid-area: quality;
}

.proscons {
    grid-area: pros;
}

.why--city {
    grid-area: why;
}

.cost-of-living {
    grid-area: cost;
}

.moving-guide-link {
    grid-area: move;
}

//Media Query



@include respond (tab-port) {
.grid {
display: block;                               //change grid to one colmun
margin:2.5rem auto;
& > * {
margin-bottom: 2rem;
        padding: 2rem;
        border-radius: 0;

    }
}
.sidebar {
  background-color: $color-white;                 //sidebar (topbar) design
  border-radius:0;
  margin-bottom: 0;
}

}
