.citylove {                                      //section design
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__img {
        display: block;
        width: 35%;
        object-fit: cover;
    }

    &__text {
        width: 60%;

        &__sectiontitle {
            margin-bottom: 2rem;
        }
    }
}
