.citylove {
    &__content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__img {
        display: block;
        width: 35%;
        object-fit: cover;
    }

}

.paragraph {
    width: 60%;
    text-align: left;
}