
.footer {
  width: 100%;
  background-color: $color-black;
  position: fixed;
  bottom: 0;
  color: $color-grey;
  font-family: $main-font-type;


&__wraptop, &__wrapbottom {  //two parts footer
  display: flex;
  width: 66%;
  margin: 0 auto;
  padding: 3rem 0rem;

 }

&__links , &__links--bottom { // list of links
 list-style: none;
  text-transform: uppercase;
  letter-spacing: 2px;


&__link {                         // top part links
  color: $color-grey;
  text-decoration: none;

  }
}

&__links {                          // links
display: flex;
flex-direction: column;
width: 100%;
align-items: center;
}

&__links--bottom {            // lower part links
  display: flex;
  width: 100%;
justify-content: space-around;


}

&__divider {
  border-top: solid lighten($color-black, 10%) 1px;
}
}



