// footer design

.footer {
  width: 100%;
  background-color: $black;
  position: fixed;
  bottom: 0;
  padding-bottom: 2rem;
  }
// footer content position

.footerwrap {
  width: 50%;
  align-items: center;
  margin: 0 auto;
  text-align: center;

}

// footer links box

.footerlinks {
 width: 50%;
 display: flex;
 font-size: 1.2rem;

}


.list {
    list-style: none;
   padding: 0 3rem;

}


.footerlink {
  text-decoration: none;
  margin: auto;
  color: $green;
}

.footerlogo {
  height: 2rem;
}


.divider {
  border-bottom: solid 1px $grey;

}
