// footer sdesign

.footer {
  width: 100%;
  background-color: $black;
  position: fixed;
  bottom: 0;
  color: $grey;
  }

// footer content position
.footer__wraptop, .footer__wrapbottom{
  display: flex;
  height: 100%;
  width: 60%;
  align-items: center;
  margin: 0 auto;
  padding: 5rem 0rem;
}




// footer links box

.footerlinks {
 list-style: none;
 padding: 0 2rem;
  text-align: center;
  margin: 0 auto;
  font-size: 2.4rem;
   text-transform: uppercase;
  letter-spacing: 2px;
}


.footerlink {
  color: $grey;
  text-decoration: none;
  margin: 2rem 0rem;

  font-size: 1.6rem;
}

.footerlogo {
  height: 3rem;
}


 .footer__wrapbottom .footerlinks:last-child {
  display: flex;
}

