.header--city {
    width: 100%;
    position: relative;
    color: $color-white;
    text-align: center;
    background: $color-black;
    padding: 0;

    &__img {
        width: 100%;
        object-fit: cover;
        display: block;
        max-height: 40rem;
        opacity: 0.55;
    }

    &__name {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__weather {
        position: absolute;
        bottom: 4rem;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__cost {
        position: absolute;
        bottom: 4rem;
        left: 20%;
        transform: translate(-50%, -50%);
    }

    &__internet {
        position: absolute;
        bottom: 4rem;
        right: 20%;
        transform: translate(-50%, -50%);
    }
}
