.navbar {
  height: 80px;
  background: green;
  width: 100%;
  vertical-align: center;
  }
  .navbarwrap{
    display: flex;
    width: 75%;
    height: 100%;
    margin: 0 auto 0 auto;
      }

.navlinkbox {
  display: flex;
  align-items: center;
  list-style: none;
  width: 25%;
}
