.navbar{
  display: flex;
  height: 80px;
  padding-left: 40px;
  padding-right: 40px;
  justify-content: space-between;
  background: green;
}

.navlinkbox{
  display: flex;
  justify-content: space-between;
}
