
.navbar {                            // navigation bar structure
  height: 8rem;
  width: 100%;
  background-color: transparent;
  font-size: 2.4rem;
  position: absolute;
  top: 0;
  z-index: 2;

&__wrap {                                // navigation bar container
    display: flex;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
 }
&__menu--show, &__menu--hide {               //mobile button settings on desktop
   transition: 0.3s;
   font-size: 3rem;
   cursor: pointer;
   display: none;
}

&__menu {                          //mobile menu button color
  color:$color-white;
}

&__linksbox {                     //links container structure
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0px;
  text-align: center;

  &__link {                        //link design
  text-decoration: none;
  padding: 0.5rem;
  color: $color-grey;
  margin-left: 2rem;
   }

&__link:hover, &__link:active {
  border-bottom: 2px solid $color-black;
    }
}

&__logo {               //logo design
height: 3rem;
width: auto;
margin-right: auto;
}

}
#chk{                  //IDK but it makes the menu be responsive
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}
@if $homepage {
  .navbar{ background-color: $color-black; }
}

//Media Query

@include respond (tab-port) {
.navbar__menu--hide, .navbar__menu--show {
  display: block;
}

.navbar__linksbox {                     //link container mobile design
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: $color-red;
    right: -100%;
    top: 0%;
    text-align: center;
    line-height: normal;
    transition: 0.3s;
    font-size: 3rem;

    &__link {
      margin: 0;
    }

  }
    .navbar__menu--hide {                  // hide menu button placement
    position: absolute;
    top: 2.5rem;
    right: 10%;
    }

    #chk:checked ~ .navbar__linksbox{           //IDK but it makes the menu be responsive
    right: 0;
  }
}
