.sidebar {
    background-color: $color-grey;
    font-size: 1.8rem;
    text-align: center;
    border: 0;

    &__wrap {
        margin-top: 8rem;
        position: fixed;
        top: 10%;
    }

    &__category {
        margin-bottom: 4rem;
        text-decoration: none;
        color: lighten($color-black, 40%);
        display: block;
    }
}

.fas {
    display: block;
    font-size: 4rem;
    margin-bottom: 1rem;
}
