.sidebar {
    background-color: $color-grey;
    color: lighten($color-black, 40%);
    font-size: 1.8rem;
    text-align: center;

    &__wrap {
        margin-top: 10rem;
        position: fixed;
    }

    &__category {
        margin-bottom: 4rem;
    }
}

.fas {
    display: block;
    font-size: 4rem;
    margin-bottom: 1rem;
}
